/*-------------------------------  Custom Fonts  ------------------------------------*/
/*-------------------------------  Defs & Sys  ------------------------------------*/
    body {
        position: relative;
        min-width: 320px;
        font-size: 14px;
        line-height: 1.6em;
        color: #000;
        background: #fff;
        -webkit-font-smoothing: antialiased;
    }
    body, button, input, select, textarea {
        font-family: Arial, Helvetica, sans-serif;
    }
    a {text-decoration: underline; color: #43f;}
    a:focus, a:hover {text-decoration: underline; color: #f00;}
    a:hover {text-decoration: underline; color: #000;}
    a[href^="http"], a[href^="www."] {cursor: pointer; cursor: alias;}
    .tac { text-align: center; }
    .tar { text-align: right; }
    .tal { text-align: left; }
    .fll { float: left; }
    .flr { float: right; }
    .cls { font-size: 0; display: table; width: 100%;}
    .ovh { overflow: hidden; }
    .clear { clear: both;}
    .blank { height: 25px; }
    .clearFix:after, .wSize:after, .wTxt:after { content: ''; display: block; clear: both; height: 0; }
    .svgHolder {position: relative; }
    .svgHolder > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
/*-------------------------------  conteiner  ------------------------------------*/
    .wWrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .wSize {
        max-width: 980px;
        padding: 0 5px;
        margin: 0 auto;
        position: relative;
    }
    .wConteiner {
        padding: 20px 0 100px 0;
        position: relative;
    }
/*-------------------------------  wHeader  ------------------------------------*/
    .wHeader {
        position: relative;
    }
/*-------------------------------  wConteiner  ------------------------------------*/
    /*-------------------------------  wLeft  ------------------------------------*/
        .wLeft {
            position: relative;
            float: left;
            width: 25%;
            margin-right: 3%;
            margin-bottom: 3%;
        }
    /*-------------------------------  wRight  ------------------------------------*/
        .wRight {
            position: relative;
            float: right;
            width: 25%;
            margin-left: 3%;
            margin-bottom: 3%;
        }
    /*-------------------------------  wMiddle  ------------------------------------*/
        .wLeft + .wMiddle,
        .wRight + .wMiddle {
            position: relative;
            overflow: hidden;
        }
        .wMiddle {
            margin-bottom: 3%;
        }
/*-------------------------------  wFooter  ------------------------------------*/
    .wFooter {
        position: relative;
        margin: -100px auto 0;
        height: 100px;
    }