/*-------------------------------  wOrder  ------------------------------------*/
    .wOrder {
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-bottom: 2.5%;
    }
    .wOrder:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
    }

    .wOrderMiddle, .wOrderRight {
        margin-bottom: 20px;
    }

    .wOrderMiddle {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    @media only screen and (min-width: 820px) {
        .wOrderMiddle {
            float: left;
            width: 70%;
            padding-bottom: 0;
            border-bottom-width: 0;
        }
        .wOrderRight {
            float: right;
            width: 27%;
        }
    }

    .wOrder nav li {
        display: block;
        margin-bottom: 10px;
    }
    .wOrder {
        counter-reset: ordersteps;
    }
    .wOrder nav span {
        display: inline-block;
        vertical-align: middle;
        padding: 7px 20px;
        background-color: #dfd;
        box-shadow: 0 2px 0px #ccc;
        position: relative;
        font-size: 16px;
        border-radius: 4px;
        min-width: 220px;
        cursor: default;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    @media only screen and (max-width: 480px) {
        .wOrder nav span {
            display: block;
            width: auto;
        }        
    }
    .wOrder nav span a {
        margin-left: 5px;
    }
    .wOrder nav span {}
    .wOrder nav span:before {
        counter-increment: ordersteps;
        content: 'Шаг ' counter(ordersteps) '. ';
        color: #f00;
        font-size: inherit;
        font-weight: bold;
    }
    .wOrder fieldset ~ nav span {
        background-color: #fafafa;
        color: #999;
    }
    .wOrder fieldset ~ nav span:before {
        background-color: #fafafa;
        color: inherit;
    }
    .wOrder fieldset {
        border-width: 3px;
        border-color: #3c3;
        border-radius: 5px;
        padding: 30px 20px 20px;
        margin: 15px 0;
    }
    .wOrder legend {
        padding: 0 7px;
        font-size: 16px;
        font-style: italic;
    }